In [30]:
import numpy as np
import pandas as pd
import warnings
import codecs
import os

import aut_vinc_bballCrawler as bc

## data grab

In [110]:
pergame = bc.getSoupFromURL('http://www.basketball-reference.com/leagues/NBA_2017_per_game.html')
pg = pergame.findAll('table')
header = []
for th in pg[0].findAll('th'):
    if not th.getText() in header:
        header.append(th.getText())
rows = pg[0].findAll('tr')[1:]  # all rows but the header
rows = [r for r in rows if len(r.findAll('td')) > 0]
parsed_table = [[col.getText() for col in row.findAll('td')] for row in rows]
ptable = pd.io.parsers.TextParser(parsed_table, names=header[1:30], index_col=0).get_chunk()
# invert the turnover metric
ptable.TOV = 1/ptable.TOV
ptable.loc[np.isinf(ptable.TOV), 'TOV'] = ptable.TOV[~np.isinf(ptable.TOV)].mean()
ptable.replace(np.nan, 0, inplace=True)
feature_vec = ['FG%','FT%','3P','TRB','AST','STL','BLK','TOV','PS/G']

bt = pd.read_excel('autvinc_table.xlsx')
bt.tov = (1/bt.tov)*(10**3)
bt.describe()

,wk,season,fg.,ft.,X3p,trb,ast,stl,blk,tov,pts
count,510.000000,510.000000,510.000000,510.000000,510.000000,510.000000,510.000000,510.000000,510.000000,510.000000,510.000000
mean,9.137255,1.901961,0.458251,0.775859,46.633333,241.570588,135.713725,42.568627,27.309804,12.718679,624.788235
std,5.123311,0.799187,0.024084,0.047587,14.087743,38.345061,24.312318,9.212094,9.054414,2.403201,89.294739
min,1.000000,1.000000,0.381200,0.611900,14.000000,132.000000,73.000000,19.000000,7.000000,8.130081,363.000000
25%,5.000000,1.000000,0.441675,0.746200,36.000000,213.000000,119.000000,37.000000,21.000000,11.111111,569.000000
50%,9.000000,2.000000,0.458350,0.780550,45.000000,239.000000,135.000000,42.000000,26.000000,12.345679,625.000000
75%,13.000000,3.000000,0.475825,0.810050,56.750000,268.000000,152.000000,48.000000,33.000000,13.888889,677.750000
max,19.000000,3.000000,0.528100,0.902000,90.000000,356.000000,205.000000,78.000000,64.000000,23.809524,920.000000

In [107]:
pergame = bc.getSoupFromURL('http://www.basketball-reference.com/leagues/NBA_2017_per_game.html')
pg = pergame.findAll('table')
header = []
for th in pg[0].findAll('th'):
    if not th.getText() in header:
        header.append(th.getText())
rows = pg[0].findAll('tr')[1:]  # all rows but the header
rows = [r for r in rows if len(r.findAll('td')) > 0]
parsed_table = [[col.getText() for col in row.findAll('td')] for row in rows]
ptable = pd.io.parsers.TextParser(parsed_table, names=header[1:30], index_col=0).get_chunk()
# invert the turnover metric
ptable.TOV = 1/ptable.TOV

In [73]:
ptable.TOV[np.isinf(ptable.TOV)] = ptable.TOV[~np.isinf(ptable.TOV)].mean()
ptable.replace(np.nan, 0, inplace=True)

/Users/michael/.virtualenvs/aut_vincere/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [109]:
ptable.loc[np.isinf(ptable.TOV), 'TOV'] = ptable.TOV[~np.isinf(ptable.TOV)].mean()

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [21]:
bt.head()

,team,wk,season,fg.,ft.,X3p,trb,ast,stl,blk,tov,pts
0,Delonte's Donuts,1,1,0.4190,0.8673,33,132,88,21,17,18.867925,392
1,"Paul George, John and Ringo",1,1,0.4479,0.7538,19,187,94,40,19,14.285714,461
2,Team Broucek,1,1,0.4428,0.7067,18,153,129,38,18,12.048193,426
3,Conor's Tomcats,1,1,0.4305,0.8000,23,186,127,38,19,15.384615,363
4,Windy City Poohdinis,1,1,0.4676,0.7349,17,218,98,39,24,12.345679,651

In [40]:
bt.groupby(['team']).mean()

,wk,season,fg.,ft.,X3p,trb,ast,stl,blk,tov,pts
team,,,,,,,,,,,
Accidental Twitter Hog,7.500000,3.000000,0.469736,0.779986,48.642857,243.500000,142.071429,44.428571,27.428571,13.336785,616.785714
Conor's Tomcats,10.000000,1.000000,0.455489,0.752516,41.368421,261.210526,143.842105,48.631579,33.421053,12.279646,554.210526
Conor's Tumbleweeds,9.500000,2.000000,0.460533,0.776806,35.055556,258.944444,156.611111,42.333333,27.222222,10.963969,644.222222
Conor's Turpentines,7.500000,3.000000,0.455686,0.799679,55.785714,240.642857,151.500000,39.785714,26.642857,12.547023,665.857143
Conquest Pain,9.285714,1.877551,0.447420,0.752769,52.326531,235.775510,145.040816,45.530612,26.183673,11.476859,645.653061
Conquest Pain,5.500000,2.500000,0.464050,0.774050,69.500000,263.500000,149.500000,52.500000,28.000000,10.813953,738.500000
Delonte's Donuts,9.137255,1.901961,0.461161,0.777349,57.019608,236.784314,137.392157,45.235294,31.294118,12.875591,644.000000
Double Double,9.722222,1.500000,0.465456,0.767239,37.527778,259.611111,142.000000,41.666667,26.888889,13.913118,604.444444
Double Double,11.000000,1.000000,0.463900,0.773000,54.000000,293.000000,166.000000,45.000000,24.000000,12.987013,729.000000
Ian Banh Mahinmi,8.625000,2.437500,0.461791,0.750769,42.218750,260.281250,140.031250,41.500000,24.531250,11.909402,617.750000
No Look No Pass,9.137255,1.901961,0.458988,0.804118,50.803922,238.176471,119.450980,39.176471,30.294118,13.955075,591.215686
"Paul George, John and Ringo",9.137255,1.901961,0.461102,0.752455,43.117647,219.450980,125.549020,37.941176,22.372549,13.706065,580.235294
Sami's Mannschaft,9.180000,1.920000,0.463218,0.795614,47.200000,261.500000,120.220000,40.760000,32.020000,12.799317,658.200000
Sami's Mannschaft,7.000000,1.000000,0.449000,0.843500,55.000000,208.000000,116.000000,45.000000,17.000000,11.764706,636.000000
Soccer Karate,8.625000,2.437500,0.456278,0.772813,57.593750,235.437500,141.625000,42.093750,22.781250,11.751300,678.781250
Team Broucek,10.000000,1.000000,0.453626,0.785632,35.842105,214.736842,147.526316,46.578947,23.631579,11.931738,600.789474
Team Sarkarati,10.000000,1.000000,0.459063,0.782253,40.263158,211.842105,121.421053,41.052632,26.526316,15.188906,593.684211
What the Blood Clot,7.500000,3.000000,0.457736,0.800636,41.500000,282.571429,141.214286,45.571429,30.428571,12.113176,664.071429
Windy City Poohdinis,9.756757,1.486486,0.447424,0.785346,39.513514,228.594595,138.891892,44.945946,24.918919,11.743572,630.837838

In [43]:
bt.groupby(['team']).size()

team
Accidental Twitter Hog         14
Conor's Tomcats                19
Conor's Tumbleweeds            18
Conor's Turpentines            14
Conquest Pain                  49
Conquest Pain                   2
Delonte's Donuts               51
Double Double                  36
Double Double                   1
Ian Banh Mahinmi               32
No Look No Pass                51
Paul George, John and Ringo    51
Sami's Mannschaft              50
Sami's Mannschaft               1
Soccer Karate                  32
Team Broucek                   19
Team Sarkarati                 19
What the Blood Clot            14
Windy City Poohdinis           37
dtype: int64

In [60]:
out_df = bt[bt['team'] == 'Conquest Pain'].mean()

In [71]:
list(out_df.index)

['wk', 'season', 'fg.', 'ft.', 'X3p', 'trb', 'ast', 'stl', 'blk', 'tov', 'pts']

In [70]:
len(feature_vec)

9

In [67]:
out_df.values

array([9.28571429e+00, 1.87755102e+00, 4.47420408e-01, 7.52769388e-01,
       5.23265306e+01, 2.35775510e+02, 1.45040816e+02, 4.55306122e+01,
       2.61836735e+01, 1.14768589e+01, 6.45653061e+02])